{% extends "thaddeus/base.html" %}

{% block content %}
    {% if thaddeus_photo_list %}
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
            {% for photo in thaddeus_photo_list %}
                <div {% if forloop.first %}  class="active item" {% else %} class="item" {% endif %}><img src='{{ MEDIA_URL }}{{ photo.image }}' /></div>
            {% endfor %}
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    {% else %}
        No photos are available.
    {% endif %}
{% endblock %}    