{% extends "thaddeus/base.html" %}

{% block content %}
    {% if thaddeus_photo_list %}
        <style>
            /*! Carousel alignment */
            .inner-item {
            text-align: center;
            img {
            margin: 0 auto;}}
        </style>
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
            {% for photo in thaddeus_photo_list %}
                <div {% if forloop.first %}  class="active item" {% else %} class="item" {% endif %}>
                    <div class='inner-item'>
                        <img src='{{ MEDIA_URL }}{{ photo.image }}' style="width: 800px; height: 600px;"/> <br /> <h3>{{ photo.title }}</h3> <p style="margin-left:100px;margin-right:100px;">{{ photo.summary }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
            <!-- Carousel nav, only show if there is more than one record -->
            {% if thaddeus_photo_list.count > 1 %}
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            {% elif thaddeus_photo_list.count == 1 %}
                <a class="carousel-control left" href="/" data-slide="prev">&lsaquo;</a>
            {% else %}
                 <a class="carousel-control left" href="/{{ photoalbum_id }}/photo_list/" data-slide="prev">&lsaquo;</a>Hi
            {% endif %}
        </div>
    {% else %}
        No photos are available.
    {% endif %}
{% endblock %}    