{% extends "thaddeus/base.html" %}

{% block content %}
    {% if thaddeus_photo_list %}
        <ul>
            <ul class="thumbnails">
                {% for photo in thaddeus_photo_list %}
                    <li class="span2">
                        <center>
                            <div class="thumbnail" style="background: #FFFFFF;">
                                <a href="/{{ photoalbum_id }}/photo_display/{{ photo.id }}" }}>
                                <img src='{{ MEDIA_URL }}{{ photo.thumb }}' style="width: 160px; height: 120px;"/><center><strong> {{ photo.title }}</strong></center></a> 
                            </div>
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                <a class="btn btn-mini" href="/admin/thaddeus/photo/{{ photo.id }}/" title="Edit Photo"><i class="icon-pencil"></i></a>
                                <a class="btn btn-mini" href="/{{ photoalbum_id }}/rotatepicleft/{{ photo.id }}" title="Rotate Left"><i class="icon-circle-arrow-left"></i></a>
                                <a class="btn btn-mini" href="/{{ photoalbum_id }}/rotatepic/{{ photo.id }}" title="Rotate Right"><i class="icon-circle-arrow-right"></i></a>
                                <a class="btn btn-mini" href="/{{ photoalbum_id }}/removepic/{{ photo.id }}" title="Remove from Thaddeus"><i class="icon-remove"></i></a>
                                 <a class="btn btn-mini" href="#test_modal"
     data-toggle="modal" title="Delete on Disk"><i class="icon-trash"></i></a>
                                </div>
                            </div>
                            <div class="modal fade" id="test_modal">
                                <div class="modal-header">
                                <a class="close" data-dismiss="modal">&times;</a>
                                <h3>Are you sure?</h3>
                                </div>
                                <div class="modal-body">
                                <p>You are about to remove the image from disk permanently!!!</p>
                                </div>
                                <div class="modal-footer">
                                <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                                <a href="/{{ photoalbum_id }}/deletepic/{{ photo.id }}" class="btn btn-primary">Delete Image</a>
                                </div>
                            </div>
                        </center>
                    </li>
                    {% comment %}
                        Limit the number of photos to 5 per line, then start a new line
                    {% endcomment %}
                    {% if forloop.counter|divisibleby:5 %}
                        </ul>
                        <ul class="thumbnails">
                    {% endif %}
                {% endfor %}
            </ul>
        </ul>
    {% else %}
        No photos are available.
    {% endif %}
{% endblock %}    