{% extends "thaddeus/base.html" %}

{# Load Custom Filter #}
{% load imagecheck %}

{% block content %}
    <p>
    {% if thaddeus_photoalbum_list %}
        <ul>
            <ul class="thumbnails">
            {% for photoalbum in thaddeus_photoalbum_list %}
                    <li class="span2">
                    <div class="thumbnail" style="background: #FFF0F5;">
                        <center>
                            <a href="{% url 'thaddeus_photo_carousel' photoalbum.id %}" class="thumbnail" style="background: #FFFFFF;">
                                <img src='{{ MEDIA_URL }}{{ photoalbum.coverpic.thumb|imageexists }}' alt="" style="width: 160px; height: 120px;"><center><strong> {{ photoalbum.title }} </strong></center>
                            </a>
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <a class="btn" href="{% url 'thaddeus_photo_carousel' photoalbum.id %}" title="Slideshow"><i class="icon-film"></i></a>
                                    <a class="btn" href="{% url 'thaddeus_photo_list' photoalbum.id %}" title="List"><i class="icon-picture"></i></a>
                                </div>
                            </div>
                        </center>
                    </div>
                    </li>
                    {% comment %}
                        Limit the number of photo albums to 5 per line, then start a new line
                    {% endcomment %}
                    {% if forloop.counter|divisibleby:5 %}
                        </ul>
                        <ul class="thumbnails">
                    {% endif %}
            {% endfor %}
            </ul>
        </ul>
    {% else %}
        No photoalbums are available.
    {% endif %}
    </p>
{% endblock %}   